---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

      <div class="category">
        {{ post.categories }}
      </div>
      {% for tag in post.tags %}
        <div class="tag">
          {{ tag }}
        </div>
      {% endfor %}
      <br/>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<ul class="site-tags">

  {% for tag in site.tags %}
    <li class="tag-link"><a href="{{ '/tag/' | append:tag[0] }}" rel="tag">{{ tag[0] }}</a></li>
  {% endfor %}

</ul>
