---
layout: default
comments: true
---
<style>
    /*********************/
    /* TOGGLE SWITCH	 */
    /*********************/
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    input:checked + .h2 {
      display:none;
    }

    .slider {
      border-radius: 34px;
    }

    .slider:before {
      border-radius: 50%;
    }
</style>
<script>
function toggleDisplay(x){
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
function toggleDisplayByClassName(className) {
  elements = document.getElementsByClassName(className);
  for (var i = 0; i < elements.length; i++) {
    toggleDisplay(elements[i]);
  }
}
</script>

<article class="post">
  <!--<h1>{{ page.title }}</h1>-->

  <label class="switch">
    <input type="checkbox" onclick="toggleDisplayByClassName('jp-CodeCell')" checked>
    <span class="slider"></span>
  </label>
    
  <label class="switch">
    <input type="checkbox" onclick="toggleDisplayByClassName('CodeMirror')" checked>
    <span class="slider"></span>
  </label>
    
  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
